*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    background-color: black;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 150px;
    width: 150px;
}
img{
    height: 150px;
    width: 150px;
}
.choices{
    justify-content: center;
    gap: 4rem;
    margin-top: 5rem;
    display: flex;
}
.choice:hover{
    opacity:0.5;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}
#msg{
    background-color: black;
    color: azure;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
.msg-container{
     margin-top: 10rem;
}